#web-development {
	.contact-form {
		padding: rem-calc(40 0);

		.section-title {
			h2,
			h3 {
				color: #fff;
				text-shadow: rem-calc(-2) rem-calc(3) 0 rgba(0,0,0,.45);
			}
		}
	}
}

form#index-contact-form {
	.contact-form-input-group-button {
		padding-top: rem-calc(40);

		input {
			background: $deep-blue;
			box-shadow: rem-calc(-4) rem-calc(4) 0 0 rgba(141,149,158,.50);
			border-radius: rem-calc(2);
			margin-bottom: rem-calc(2);
			@extend h3;
			color: #fff;
			min-width: rem-calc(180);
			padding: rem-calc(8 0);
			line-height: 1;

			@include breakpoint(large) {
				min-width: 0;
				width: 90%;
			}

			&:hover {
				margin-top: rem-calc(2);
				margin-right: rem-calc(2);
				margin-bottom: 0;
				box-shadow: rem-calc(-2) rem-calc(2) 0 0 rgba(141,149,158,.50);
			}
		}
	}
}

form#index-contact-form {
	span.input-group-label.error {
		background: #f26b6c;
		font-weight: bold;
		color: #fff;
		border: 1px solid #fff;
	}
}
