@import '_font-face.scss';
@import '_font-family.scss';
@import '_font-weight.scss';
@import '_text-color.scss';
@import '_text-decoration.scss';


h1,
h3,
.monospace {
	font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-weight: 700;
}

p {
	font-size: rem-calc(18);

	@include breakpoint(medium) {
		font-size: rem-calc(16);
	}
}

p,
h6 {
	font-weight: 300;
}

h5,
h6 {
	text-transform: uppercase;
}

h5 {
	letter-spacing: rem-calc(1.2);
}

h6 {
	letter-spacing: rem-calc(1);
}

@include breakpoint(medium) {
	h5,
	h6 {
		letter-spacing: rem-calc(1.5);
	}
}


// -------------------------------------
// |            text-shadow            |
// -------------------------------------

.text-shadow-black {
	text-shadow: rem-calc(-2) rem-calc(3) 0 rgba(0,0,0,.80);
}


