
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro:600');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Code+Pro:wght@600&display=swap');



// USE FONTS LIKE SO ::
// font-family: 'Lato', sans-serif;
// font-family: 'Source Code Pro', monospace;
