$max-730: 'only screen and (max-width : 45.625em)';
$max-430: 'only screen and (max-width : 26.875em)';


#index {
	.about-us {
		background: #566372;
		border: rem-calc(3) solid #566372;

		.row {
			background: #f4f4f4;

			.image {
				background: $deep-blue;
				padding: 0 rem-calc(16);
				border-bottom: rem-calc(3) solid #566372;

				@media #{$max-430} {
					padding: 0;
				}

				img {
					border-right: rem-calc(3) solid #566372;
					max-width: 240px;
					width: 100%;
				}

				h3 {
					padding-top: rem-calc(140);
					color: #fff;

					@media #{$max-430} {
						padding-top: rem-calc(80);
					}
				}
			}

			.prose {
				padding: rem-calc(30 16);
			}
		}
	}
}


@include breakpoint(medium) {
	#index {
		.about-us {
			background: #566372;
			border: rem-calc(3) solid #566372;
			padding: 0 rem-calc(20);

			.row {
				.image {
					background: linear-gradient(90deg, #566372 50%, #f4f4f4 50%);
					padding: 0;
					border: 0;
				}

				.prose {
					@media #{$max-730} {
						padding: rem-calc(16 16 0);
					}

					padding-top: rem-calc(50);
				}
			}
		}
	}
}

@include breakpoint(large) {
	#index {
		.about-us {
			padding: 0 rem-calc(40);

			.row {
				.image {
					background: #566372;
				}
				.prose {
					padding-top: rem-calc(90);
				}
			}
		}
	}
}
