
.splash-video-header {
	background: $body-background url('#{$url}/img/index/website-mashup-video/studio-n-creations-website-mashup-poster.jpg') center center/cover no-repeat;

	.prose-grid {
		height: 80vh;
		min-height: 380px;
	}

	.prose-cell {
		z-index: 20;
		background-image: linear-gradient(-180deg, rgba(0,0,0,.00) 0%, #000 100%);
		padding-bottom: rem-calc(40);

		h1 {
			line-height: 1.2;
			text-shadow: rem-calc(-4) rem-calc(5) 0 rgba(0,0,0,0.45);
		}
	}

	#backgroundVideo {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translateX(-50%) translateY(-50%);
	}
}

