// @import '_gfycat-video.scss';
@import '_header.scss';
@import '_graphic-branding.scss';
@import '_about-us.scss';
@import '_contact.scss';
@import '_bubble-bg.scss';
@import '_recent-projects.scss';
// @import "_bubble-bg-base-64.scss";

#index {
	#mobileNavBar-wrapper {
		position: absolute;
		right: 0;
		z-index: 100;
	}
}



#index {
	.intro-slogan {
		background: $deep-blue;
		padding: rem-calc(60) 0;

		h2 {
			color: #fff;
			text-shadow: rem-calc(-2) rem-calc(3) 0 rgba(0,0,0,.45);
		}

		.prose {
			padding: rem-calc(30) rem-calc(16);
			background: #fff;
			border-radius: rem-calc(3);

			p {
				margin: 0;
			}
		}
	}
}

#index {
	.recent-projects {
		padding: rem-calc(60) 0;

		.project {
			margin-bottom: rem-calc(20);
			border: rem-calc(3) solid #566372;
		}
	}
}
