.sansSerif,
.ff-sans-serif {
	font-family: $body-font-family;
}

.ff-monospace {
	font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace;
	font-weight: 600;
	text-transform: uppercase;
}
