<nav class="show-for-medium" id="topNavBar">
	<aside>
		<ul class="menu" id="menu-contactLinks">
			<li><a data-open="contactModal"><strong>@</strong></a></li>
			<li id="phone"><span data-tooltip aria-haspopup="true" class="has-tip" tabindex="1" data-hover-delay="0" data-fade-in-duration="100" data-v-offset="14" data-template-classes="phone-tooltip" title="713-443-3761"><a id="phone"><img src="/img/assets/icons/phone.svg" alt="Phone Icon"></a></span></li>
		</ul>
	</aside>
	<ul class="menu align-right" id="menu-pageLinks">
		<li><button id="offCanvas-menu--toggle" type="button" class="button monospace" data-toggle="offCanvas-menu">Menu <i class="hamburger"></i></button></li>
		<!-- <li><a href="/" class="monospace">Portfolio</a></li> -->
	</ul>
</nav>

<!-- {{> contactModal}} -->
