<button class="close-button" aria-label="Close menu" type="button" data-close>
	<span aria-hidden="true">&times;</span>
</button>
<h1><a href="/">Studio N Creations</a></h1>
<ul class="vertical menu">
	<li><a class="monospace" href="/">About</a></li>
	<li><a class="monospace" href="/our-services/web-development">Services</a></li>
	<li><a class="monospace" href="/blog/">Blog <span class="display-inline-block text-center" style="background:  #fff; color:  #000; border: 1px solid white; border-radius: 500px; width: 30px;">1</span></a></li>
</ul>
