.contact-banner {
	.modalTrigger {
		margin: rem-calc(20) 0;
		padding: rem-calc(14) 0;

		a {
			padding: rem-calc(14) rem-calc(20);
			box-shadow: rem-calc(-4) rem-calc(4) 0 0 rgba(99,129,153,.80);
			color: $black;
			font-size: rem-calc(28);
			border-radius: rem-calc(3);
			margin-bottom: rem-calc(2);
			background: #fff;
			display: inline-block;

			&:hover {
				box-shadow: rem-calc(-2) rem-calc(2) 0 0 rgba(99,129,153,.80);
				margin: rem-calc(2) rem-calc(2) 0 0;
			}
		}
	}
}
