<?php
	include($_SERVER['DOCUMENT_ROOT'].'/php/autoVer.php');
?>
<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | Studio N Creations</title>
	<meta name="description" content="{{ description }}">
	<link href="http://studioncreations.com{{ url }}" rel="canonical">
	<link href="/humans.txt" rel="author">

	<meta name="format-detection" content="telephone=no">

	<link href="<?php autoVer('/css/app.css'); ?>" rel="stylesheet">

</head>
<body id="{{ body-id }}" class="{{ body-class }}">

<div class="off-canvas-wrapper">

	<div class="off-canvas position-right" id="offCanvas-menu" data-off-canvas data-position="right">
		{{> offCanvas-menu}}
	</div>

	<div class="off-canvas-content" data-off-canvas-content>
		{{> small--offCanvas-menu--toggle}}
		{{> medium--topNavBar}}
		{{> body}}
		{{> contact-footer-section}}
	</div>

</div> <!-- /.off-canvas-wrapper -->

{{> contactModal}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery/3-3-1/jquery-min.js"><\/script>')</script>
<script src="<?php autoVer('/js/app-min.js'); ?>"></script>

</body>
</html>
